<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="84" assertions="44" errors="40" warnings="0" failures="36" skipped="0" time="0.019416">
    <testsuite name="Sanity" tests="1" assertions="1" errors="0" warnings="0" failures="0" skipped="0" time="0.010102">
      <testsuite name="Hive\Toy\Test\SanityTest" file="/Users/jamie/Containers/toy/app/tests/unit/SanityTest.php" tests="1" assertions="1" errors="0" warnings="0" failures="0" skipped="0" time="0.010102">
        <testcase name="test_sanity_isTrue" class="Hive\Toy\Test\SanityTest" classname="Hive.Toy.Test.SanityTest" file="/Users/jamie/Containers/toy/app/tests/unit/SanityTest.php" line="7" assertions="1" time="0.010102"/>
      </testsuite>
    </testsuite>
    <testsuite name="All" tests="83" assertions="43" errors="40" warnings="0" failures="36" skipped="0" time="0.009313">
      <testsuite name="Hive\Toy\Test\BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" tests="28" assertions="28" errors="0" warnings="0" failures="28" skipped="0" time="0.003030">
        <testcase name="test_construct_withNullCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="8" assertions="1" time="0.000711">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withNullCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:10
</failure>
        </testcase>
        <testcase name="test_construct_withValidCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="13" assertions="1" time="0.000128">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withValidCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:15
</failure>
        </testcase>
        <testcase name="test_construct_withStringCoordinateArguments_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="18" assertions="1" time="0.000140">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withStringCoordinateArguments_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:20
</failure>
        </testcase>
        <testcase name="test_construct_withFalseCoordinateArguments_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="23" assertions="1" time="0.000105">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withFalseCoordinateArguments_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:25
</failure>
        </testcase>
        <testcase name="test_construct_withZeroCoordinateArguments_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="29" assertions="1" time="0.000072">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withZeroCoordinateArguments_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:31
</failure>
        </testcase>
        <testcase name="test_construct_withZeroXCoordinateArgument_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="34" assertions="1" time="0.000091">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withZeroXCoordinateArgument_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:36
</failure>
        </testcase>
        <testcase name="test_construct_withZeroYCoordinateArgument_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="39" assertions="1" time="0.000090">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withZeroYCoordinateArgument_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:41
</failure>
        </testcase>
        <testcase name="test_construct_withNegativeCoordinateArguments_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="44" assertions="1" time="0.000065">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withNegativeCoordinateArguments_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:46
</failure>
        </testcase>
        <testcase name="test_construct_withLargeCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="49" assertions="1" time="0.000072">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_construct_withLargeCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:51
</failure>
        </testcase>
        <testcase name="test_getAxis_withNullCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="54" assertions="1" time="0.000082">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getAxis_withNullCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:56
</failure>
        </testcase>
        <testcase name="test_getX_withNullCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="59" assertions="1" time="0.000068">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getX_withNullCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:61
</failure>
        </testcase>
        <testcase name="test_getY_withNullCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="64" assertions="1" time="0.000056">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getY_withNullCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:66
</failure>
        </testcase>
        <testcase name="test_getAxis_withValidCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="69" assertions="1" time="0.000069">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getAxis_withValidCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:71
</failure>
        </testcase>
        <testcase name="test_getX_withValidCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="74" assertions="1" time="0.000130">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getX_withValidCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:76
</failure>
        </testcase>
        <testcase name="test_getY_withValidCoordinateArguments_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="79" assertions="1" time="0.000087">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getY_withValidCoordinateArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:81
</failure>
        </testcase>
        <testcase name="test_getX_afterSetX_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="84" assertions="1" time="0.000066">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getX_afterSetX_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:86
</failure>
        </testcase>
        <testcase name="test_getY_afterSetY_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="89" assertions="1" time="0.000064">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getY_afterSetY_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:91
</failure>
        </testcase>
        <testcase name="test_getAxis_afterSetY_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="94" assertions="1" time="0.000142">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getAxis_afterSetY_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:96
</failure>
        </testcase>
        <testcase name="test_getAxis_afterSetX_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="99" assertions="1" time="0.000078">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getAxis_afterSetX_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:101
</failure>
        </testcase>
        <testcase name="test_getAxis_afterSetXAndSetY_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="104" assertions="1" time="0.000082">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_getAxis_afterSetXAndSetY_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:106
</failure>
        </testcase>
        <testcase name="test_setX_withNegative_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="109" assertions="1" time="0.000073">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setX_withNegative_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:111
</failure>
        </testcase>
        <testcase name="test_setY_withNegative_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="114" assertions="1" time="0.000091">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setY_withNegative_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:116
</failure>
        </testcase>
        <testcase name="test_setX_withFalse_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="119" assertions="1" time="0.000090">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setX_withFalse_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:121
</failure>
        </testcase>
        <testcase name="test_setY_withFalse_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="124" assertions="1" time="0.000086">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setY_withFalse_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:126
</failure>
        </testcase>
        <testcase name="test_setY_withZero_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="129" assertions="1" time="0.000094">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setY_withZero_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:131
</failure>
        </testcase>
        <testcase name="test_setX_withZero_isInvalid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="134" assertions="1" time="0.000064">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setX_withZero_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:136
</failure>
        </testcase>
        <testcase name="test_setX_withExpected_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="139" assertions="1" time="0.000074">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setX_withExpected_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:141
</failure>
        </testcase>
        <testcase name="test_setY_withExpected_isValid" class="Hive\Toy\Test\BoardTest" classname="Hive.Toy.Test.BoardTest" file="/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php" line="144" assertions="1" time="0.000062">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\BoardTest::test_setY_withExpected_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/BoardTest.php:146
</failure>
        </testcase>
      </testsuite>
      <testsuite name="Hive\Toy\Test\Direction\Cardinal\CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" tests="40" assertions="0" errors="40" warnings="0" failures="0" skipped="0" time="0.004077">
        <testcase name="test_right_FromNorth_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="14" assertions="0" time="0.000615">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_FromNorth_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:16
</error>
        </testcase>
        <testcase name="test_right_FromEast_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="21" assertions="0" time="0.000074">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_FromEast_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:23
</error>
        </testcase>
        <testcase name="test_right_FromSouth_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="28" assertions="0" time="0.000092">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_FromSouth_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:30
</error>
        </testcase>
        <testcase name="test_right_FromWest_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="35" assertions="0" time="0.000122">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_FromWest_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:37
</error>
        </testcase>
        <testcase name="test_right_x2FromNorth_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="42" assertions="0" time="0.000146">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x2FromNorth_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:44
</error>
        </testcase>
        <testcase name="test_right_x2FromEast_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="50" assertions="0" time="0.000085">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x2FromEast_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:52
</error>
        </testcase>
        <testcase name="test_right_x2FromSouth_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="58" assertions="0" time="0.000095">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x2FromSouth_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:60
</error>
        </testcase>
        <testcase name="test_right_x2FromWest_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="66" assertions="0" time="0.000077">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x2FromWest_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:68
</error>
        </testcase>
        <testcase name="test_right_x3FromNorth_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="74" assertions="0" time="0.000081">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x3FromNorth_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:76
</error>
        </testcase>
        <testcase name="test_right_x3FromEast_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="83" assertions="0" time="0.000073">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x3FromEast_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:85
</error>
        </testcase>
        <testcase name="test_right_x3FromSouth_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="92" assertions="0" time="0.000079">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x3FromSouth_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:94
</error>
        </testcase>
        <testcase name="test_right_x3FromWest_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="101" assertions="0" time="0.000081">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x3FromWest_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:103
</error>
        </testcase>
        <testcase name="test_right_x4FromNorth_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="110" assertions="0" time="0.000084">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x4FromNorth_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:112
</error>
        </testcase>
        <testcase name="test_right_x4FromEast_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="120" assertions="0" time="0.000075">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x4FromEast_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:122
</error>
        </testcase>
        <testcase name="test_right_x4FromSouth_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="130" assertions="0" time="0.000064">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x4FromSouth_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:132
</error>
        </testcase>
        <testcase name="test_right_x4FromWest_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="140" assertions="0" time="0.000074">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x4FromWest_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:142
</error>
        </testcase>
        <testcase name="test_right_x5FromNorth_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="150" assertions="0" time="0.000074">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x5FromNorth_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:152
</error>
        </testcase>
        <testcase name="test_right_x5FromEast_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="161" assertions="0" time="0.000213">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x5FromEast_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:163
</error>
        </testcase>
        <testcase name="test_right_x5FromSouth_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="172" assertions="0" time="0.000088">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x5FromSouth_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:174
</error>
        </testcase>
        <testcase name="test_right_x5FromWest_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="183" assertions="0" time="0.000084">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_right_x5FromWest_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:185
</error>
        </testcase>
        <testcase name="test_left_FromNorth_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="194" assertions="0" time="0.000082">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_FromNorth_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:196
</error>
        </testcase>
        <testcase name="test_left_FromEast_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="201" assertions="0" time="0.000108">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_FromEast_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:203
</error>
        </testcase>
        <testcase name="test_left_FromSouth_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="208" assertions="0" time="0.000087">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_FromSouth_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:210
</error>
        </testcase>
        <testcase name="test_left_FromWest_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="215" assertions="0" time="0.000078">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_FromWest_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:217
</error>
        </testcase>
        <testcase name="test_left_x2FromNorth_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="222" assertions="0" time="0.000075">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x2FromNorth_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:224
</error>
        </testcase>
        <testcase name="test_left_x2FromEast_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="230" assertions="0" time="0.000067">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x2FromEast_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:232
</error>
        </testcase>
        <testcase name="test_left_x2FromSouth_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="238" assertions="0" time="0.000071">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x2FromSouth_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:240
</error>
        </testcase>
        <testcase name="test_left_x2FromWest_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="246" assertions="0" time="0.000072">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x2FromWest_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:248
</error>
        </testcase>
        <testcase name="test_left_x3FromNorth_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="254" assertions="0" time="0.000072">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x3FromNorth_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:256
</error>
        </testcase>
        <testcase name="test_left_x3FromEast_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="263" assertions="0" time="0.000077">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x3FromEast_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:265
</error>
        </testcase>
        <testcase name="test_left_x3FromSouth_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="272" assertions="0" time="0.000062">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x3FromSouth_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:274
</error>
        </testcase>
        <testcase name="test_left_x3FromWest_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="281" assertions="0" time="0.000076">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x3FromWest_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:283
</error>
        </testcase>
        <testcase name="test_left_x4FromNorth_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="290" assertions="0" time="0.000094">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x4FromNorth_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:292
</error>
        </testcase>
        <testcase name="test_left_x4FromEast_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="300" assertions="0" time="0.000181">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x4FromEast_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:302
</error>
        </testcase>
        <testcase name="test_left_x4FromSouth_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="310" assertions="0" time="0.000088">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x4FromSouth_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:312
</error>
        </testcase>
        <testcase name="test_left_x4FromWest_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="320" assertions="0" time="0.000076">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x4FromWest_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:322
</error>
        </testcase>
        <testcase name="test_left_x5FromNorth_isWest" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="330" assertions="0" time="0.000077">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x5FromNorth_isWest
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "NORTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:332
</error>
        </testcase>
        <testcase name="test_left_x5FromEast_isNorth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="341" assertions="0" time="0.000086">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x5FromEast_isNorth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "EAST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:343
</error>
        </testcase>
        <testcase name="test_left_x5FromSouth_isEast" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="352" assertions="0" time="0.000091">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x5FromSouth_isEast
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "SOUTH" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:354
</error>
        </testcase>
        <testcase name="test_left_x5FromWest_isSouth" class="Hive\Toy\Test\Direction\Cardinal\CardinalTest" classname="Hive.Toy.Test.Direction.Cardinal.CardinalTest" file="/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php" line="363" assertions="0" time="0.000081">
          <error type="Hive\Toy\Exception\InvalidDirection">Hive\Toy\Test\Direction\Cardinal\CardinalTest::test_left_x5FromWest_isSouth
Hive\Toy\Exception\InvalidDirection: The direction supplied is not valid, "WEST" was supplied - make sure the check the case and whitespace

/Users/jamie/Containers/toy/app/src/Direction.php:60
/Users/jamie/Containers/toy/app/tests/unit/Direction/CardinalTest.php:365
</error>
        </testcase>
      </testsuite>
      <testsuite name="Hive\Toy\Test\DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" tests="9" assertions="9" errors="0" warnings="0" failures="2" skipped="0" time="0.001616">
        <testcase name="test_set_withValidArgument_isValid" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="12" assertions="1" time="0.000698">
          <failure type="PHPUnit\Framework\ExpectationFailedException">Hive\Toy\Test\DirectionTest::test_set_withValidArgument_isValid
Array (...) does not match expected type "string".

/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php:15
</failure>
        </testcase>
        <testcase name="test_set_withEmptyArgument_throwsException" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="18" assertions="1" time="0.000190"/>
        <testcase name="test_set_withIntegerArgument_throwsException" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="24" assertions="1" time="0.000174"/>
        <testcase name="test_set_withNegativeArgument_throwsException" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="30" assertions="1" time="0.000069"/>
        <testcase name="test_set_withFalseArgument_throwsException" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="36" assertions="1" time="0.000070"/>
        <testcase name="test_set_withNullArgument_throwsException" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="42" assertions="1" time="0.000071"/>
        <testcase name="test_set_withInvalidArgument_throwsException" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="48" assertions="1" time="0.000067"/>
        <testcase name="test_get_withoutSet_isInvalid" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="54" assertions="1" time="0.000169"/>
        <testcase name="test_get_afterSetValidArguments_isValid" class="Hive\Toy\Test\DirectionTest" classname="Hive.Toy.Test.DirectionTest" file="/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php" line="60" assertions="1" time="0.000108">
          <failure type="PHPUnit\Framework\ExpectationFailedException">Hive\Toy\Test\DirectionTest::test_get_afterSetValidArguments_isValid
Array (...) does not match expected type "string".

/Users/jamie/Containers/toy/app/tests/unit/DirectionTest.php:63
</failure>
        </testcase>
      </testsuite>
      <testsuite name="Hive\Toy\Test\RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" tests="6" assertions="6" errors="0" warnings="0" failures="6" skipped="0" time="0.000591">
        <testcase name="test_construct_withValidArguments_isValid" class="Hive\Toy\Test\RobotTest" classname="Hive.Toy.Test.RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" line="8" assertions="1" time="0.000069">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\RobotTest::test_construct_withValidArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php:10
</failure>
        </testcase>
        <testcase name="test_place_withValidArguments_isValid" class="Hive\Toy\Test\RobotTest" classname="Hive.Toy.Test.RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" line="13" assertions="1" time="0.000170">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\RobotTest::test_place_withValidArguments_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php:15
</failure>
        </testcase>
        <testcase name="test_place_offTheBoard_isInvalid" class="Hive\Toy\Test\RobotTest" classname="Hive.Toy.Test.RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" line="18" assertions="1" time="0.000100">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\RobotTest::test_place_offTheBoard_isInvalid
soon

/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php:20
</failure>
        </testcase>
        <testcase name="test_report_afterPlace_isValid" class="Hive\Toy\Test\RobotTest" classname="Hive.Toy.Test.RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" line="23" assertions="1" time="0.000078">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\RobotTest::test_report_afterPlace_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php:25
</failure>
        </testcase>
        <testcase name="test_report_afterRight_isValid" class="Hive\Toy\Test\RobotTest" classname="Hive.Toy.Test.RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" line="28" assertions="1" time="0.000074">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\RobotTest::test_report_afterRight_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php:30
</failure>
        </testcase>
        <testcase name="test_report_afterLeft_isValid" class="Hive\Toy\Test\RobotTest" classname="Hive.Toy.Test.RobotTest" file="/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php" line="33" assertions="1" time="0.000100">
          <failure type="PHPUnit\Framework\AssertionFailedError">Hive\Toy\Test\RobotTest::test_report_afterLeft_isValid
soon

/Users/jamie/Containers/toy/app/tests/unit/RobotTest.php:35
</failure>
        </testcase>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
